body {
  margin-left: 10%;
  margin-right: 10%;
}

.grid-container {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 150px 150px 150px;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: purple;
}

.item-1 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: yellow;
}

.item-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: green;
}

.item-4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: blue;
}

.item-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: orange;
}

.item-6 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: lightgreen;
}

.item-7 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: pink;
}

.title-text {
  background-color: rgba(89, 133, 228, 0.8);
  color: white;
  position: relative;
  bottom: 60px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

.title-text:hover {
  background-color: rgba(89, 133, 228, 1);
  cursor: pointer;
}

.headline {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  bottom: 60px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.headline:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
